.product-description {
    display: flex;
    flex-direction: column;
    padding: 13px;
    margin-top: 13px;
    border-radius: 15px;
    box-shadow: 3px 3px 1.5rem #cccbcc;
}

.recommendations h2{
    margin-top: 44px;
    margin-bottom: 24px;
    text-align: center;
}

.recommendations p{
    text-align: center;
}

h3{
    text-align: center;
}

.recommendations-flex img{
    margin-bottom: 33px;
}

.recommendations h3::before {
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    margin: 0 auto;
    margin-bottom: 0.3rem;
    background-color: var(--mainColor);
    border-radius: 10px;
  }

p{
    line-break: strict;
    line-height: 28px;
}

span{
    color: var(--subColor);
}
  
.availability{
    margin-top: 23px;
    display: flex;
    flex-direction: column;
}

.product{
    display: flex;
    flex-direction: column;
}

.price {
    font-size: 0.8rem;
    color: var(--black);
    margin-bottom: 10px;
    text-align: center;
}

.product-price{
    margin: 20px;
}

button{
    background-color: var(--mainColor);
    color: var(--bgColor);
    border: 2px solid var(--mainColor);
    border-radius: 20px;
    cursor: pointer;
    padding: 0.5rem 1.3rem;
    align-items: flex-end;
    margin: 4 auto;
    font-family: var(--headerFont);
}
  
button:hover{
    background-color: var(--bgColor);
    color: var(--mainColor);
}

.buy{
    display: flex;
    flex-direction: column;
}

#amount {
    padding: 0.2rem 0.5rem 0.2rem 0.2rem;
    width: 3rem;
    text-align: center;
    font-size: 1rem;
    border: solid 1px var(--gray);
    border-radius: 0.4rem;
    color: var(--black);
    align-self: center;
  }

  .product button{
      margin-top: 15px;
  }

  .dropdown {
    position: relative;
  }

@media screen and (min-width: 768px){
    .availability{
        flex-direction: row;
    }



    h2{
        margin-top: 12px;
    }

    .product{
        flex-direction: row;
        gap: 44px;
        margin-top: 23px;
    }

    .product img{
        max-width: 500px;
    }

    .product-description{
        margin: auto;
    }

    .buy{
       flex-direction: row;
    }

    .recommendations h2{
        margin-top: 93px;
        text-align: left;
    }

    .recommendations-flex{
        max-width: 900px;
        display: flex;
        flex-direction: row;
        gap: 23px;
    }

    .product button{
        margin: 4 auto 4 444; 
    }

    .product-price{
        margin: 4 auto -10 504; 
    }

    
}