.product-description {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-top: 13px;
  border-radius: 15px;
  box-shadow: 3px 3px 1.5rem #cccbcc;
  width: 100%;
}

.recommendations h2 {
  margin-top: 44px;
  margin-bottom: 24px;
  text-align: center;
}

.recommendations p {
  text-align: center;
}

.product-description ul {
  margin-bottom: 0.5rem;
}
.product-description ul li {
  padding: 0;
  margin-bottom: 0.3rem;
}

.product-description h2 {
  font-size: 1.3rem;
}

.product-description h1 {
  font-size: 2rem;
}

.desc-field {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.desc-field h2 {
  font-size: 1.2rem;
  margin: 0;
}

.desc-field p {
  font-size: 1rem;
  color: var(--black);
  margin: 0;
  align-items: center;
}

h3 {
  text-align: center;
}

.recommendations-flex img {
  margin-bottom: 33px;
}

.recommendations h3::before {
  content: "";
  display: block;
  width: 100px;
  height: 5px;
  margin: 0 auto;
  margin-bottom: 0.3rem;
  background-color: var(--mainColor);
  border-radius: 10px;
}

main span {
  color: var(--subColor);
}

.availability {
  margin-top: 23px;
  display: flex;
  flex-direction: column;
}

.product {
  display: grid;
  align-items: center;
  gap: 1rem;
}

.price {
  font-size: 0.8rem;
  color: var(--black);
  margin-bottom: 10px;
  text-align: center;
}

.product-price {
  margin: 1rem 0;
}

.product-checkout input {
  font-size: 1.4rem;
  width: 2.5em;
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
  border: solid 1px var(--gray);
}
.product-checkout {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}

button:hover {
  background-color: var(--bgColor);
  color: var(--mainColor);
}

.buy {
  display: flex;
  flex-direction: column;
}

#amount {
  padding: 0.2rem 0.5rem 0.2rem 0.2rem;
  width: 3rem;
  text-align: center;
  font-size: 1rem;
  border: solid 1px var(--gray);
  border-radius: 0.4rem;
  color: var(--black);
  align-self: center;
}

.product img {
  max-width: 100%;
  width: 100%;
  margin: auto;
}

button {
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 6rem;
  padding: 0.5rem 1.5rem;
  color: #fff;
  background: var(--mainColor);
  border: solid 2px var(--mainColor);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .product {
    grid-template-columns: 1fr;
  }

  .product img {
    width: 80%;
    max-width: 100%;
  }

  .product-description {
    margin: auto;
  }

  .buy {
    flex-direction: row;
  }

  .recommendations h2 {
    margin-top: 93px;
    text-align: left;
  }

  .recommendations-flex {
    max-width: 900px;
    display: flex;
    flex-direction: row;
    gap: 23px;
  }
}
@media screen and (min-width: 1024px) {
  .product {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .product img {
    width: 80%;
    max-width: 100%;
  }
}
